include:
   - infra.yaml
services:
  web:
    build: .
    ports:
      - "8000:5000"
    depends_on:
      redis:
        condition: service_healthy
    develop:
      watch:
        - action: sync
          path: .
          target: /code
      command: flask run --debug